# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
# Some of the popular languages that Data Scientists use are:
1.R 
2.SQL
3.JavaScript
4.Java
5.C++

In [ ]:
# Some of the commonly used libraries used by Data Scientists include:
1.Numpy
2.Matplotlib
3.Pandas
4.Keras
5.Vegas

# Data Science Tools
Anaconda
Jupyter Notebooks
R Studio
Sypder
Zepplin

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200//60

3

# Objectives:

In [ ]:
# List popular languages for Data Science:
1. Python
2. R
3. SQL
4. Java
5. Julia

## Author
Lakshmi Holla

Mitesh Singh